body {
    background-color: #46c5ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
}

:root {
    --light-color: #e9f0f5;
    --accent-color: #46c5ff;
    --second-color: #ff7900;
    --font-family: "nunito", sans-serif;
    --font-weight: 800;
    --font-size-button: 18px;
    --font-size-text: 18px;
    margin: 0 5%;
    padding: 0;
    box-sizing: border-box;
}




/*MAIN GHOST*/

.ghost-body {
    width: clamp(70px, 4vw, 90px);
    aspect-ratio: 1/3;
    height: clamp(100px, 4vw, 110px);
    background: var(--light-color);
    border-radius: 50% 50% 0% 0%;
    position: relative;
    animation: float 3s ease-in-out infinite;
    z-index: 2;
    animation: float infinite 3s ease-in-out infinite;
    filter: drop-shadow(0 0 50px #0000003e);
  }

  .ghost-underneath {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 2%;
    position: relative;
    z-index: 2;
  }

  .ghost-underneath-second {
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 2%;
    position: absolute;
    z-index: 1;
    animation: waveOpposite 4s infinite;
  }

  .ghost-underneath-second .second {
    background-color: #e9f0f56b;
  }

  .ghost-underneath-cutout {
    height: 70%;
    width: 30%;
    background-color: var(--light-color);
    border-radius: 40%;
    margin-bottom: -20%;
    animation: waveY 4s infinite;
  }

  .ghost-shadow {
  margin-top: 2%;
  margin-bottom: 0;
  padding: 0; 
  width: 5%;
  height: 18px;
  background: rgba(0,0,0,0.09);
  border-radius: 50%;
  filter: blur(2px);
  z-index: 1;
  animation: shadowMovement 3s ease-in-out infinite;
}

  




  
  /*GHOST FACE*/

  .ghost-face {
    width: 100%;
    height: 50%;
  }

  .ghost-eyes {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: end;
    margin-bottom: 10%;
  }

  .eye {
    background-color: black;
    width: 18%;
    height: 28%;
    border-radius: 100%;
    animation: blink 2.5s ease-in-out infinite;
  }

  .ghost-mouth {
    margin-top: 5%;
    width: 25%;
    height: 20%;
    border-radius: 100%;
    background-color: black;
    margin: 0 auto;
    position: relative;
  }



/*GHOST ACCESSORIES*/
#pumpkin {
    width: clamp(30px, 4vw, 40px);
    aspect-ratio: 1/3;
    height: clamp(90px, 4vw, 100px);
    position: absolute;
    top: 65px;
    right: -7px;
    z-index: 2;
}

#tiny-ghost {
    width: clamp(30px, 4vw, 40px);
    aspect-ratio: 1/3;
    height: clamp(90px, 4vw, 100px);
    position: absolute;
    top: -50px;
    left: -40px;
    z-index: 2;
}

#icecream {
    width: clamp(20px, 4vw, 30px);
    aspect-ratio: 1/3;
    height: clamp(80px, 4vw, 90px);
    position: absolute;
    top: 35px;
    right: -7px;
    z-index: 2;
    transform: rotate(-40deg);
}

#mustache {
    width: clamp(30px, 4vw, 40px);
    aspect-ratio: 1/3;
    height: clamp(90px, 4vw, 100px);
    position: absolute;
    top: 18px;
    left: 0px;
    transform: translateX(38%);  
}


  /*rest of UI*/
  .button {
    text-decoration: none;
    background: var(--second-color);
    color: white;
    padding: 15px 35px;
    margin-top: 5vh;
    border-radius: 20px;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-size: var(--font-size-button);
    filter: drop-shadow(0 0 30px #e9f0f51f);
    border-bottom: 3.5px solid white;
    transition: transform 100ms ease-in;
  }

  .button:active {
    transform: scale(110%);
  }

  .shop-button-2 {
    color: white;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    margin-top: 1.1%;
    z-index: 4;
  }

  #score p {
    color: var(--accent-color);
    font-family: var(--font-family);
    font-size: var(--font-size-text);
    z-index: 2;
    font-weight: 700;
    line-height: 4px;
}

  #score {
    position: absolute;
    left: 5%;
    top: 2.7%;
    margin: 0;
    background-color: var(--light-color);
    padding: 0px 32px;
    border-radius: 20px;
    filter: drop-shadow(0 0 30px #e9f0f51f);
  }


  .shop-button {
    position: absolute;
    left: 1%;
    top: 2%;
    padding: 0;
    margin: 0;
    z-index: 4;
  }

  .text-balloon {
    background-color: var(--light-color);
    position: absolute;
    width: max-content;
    height: fit-content;
    padding: 0 16px;
    border-radius: 20px;
    top: -50%;
    left: 100%;
    text-align: center;
    z-index: 10;
  }

  .text-balloon:before {
    content: "";
    left: -5%;
    top: 90%;
    color: white;
    background-color: white;
    height: 10%;
    width: 4%;
    z-index: 10;
    position: absolute;
    border-radius: 50%;
  }

  .text-balloon p {
    font-size: 16px;
    color: black;
    font-family: var(--font-family)!important;
  }



  /*UI of shop*/
  #accessories {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10% 25%;
  }

  #pumpkin-shop {
    width: clamp(125px, 5vw, 140px);
    aspect-ratio: 1/1;
    height: clamp(150px, 3vw, 150px);
  }

  #tiny-ghost-shop {
    width: clamp(125px, 5vw, 140px);
    aspect-ratio: 1/1;
    height: clamp(150px, 3vw, 150px);
  }

  #tiny-ghost-shop:hover {
    cursor: pointer;
  }

  #pumpkin-shop:hover {
    cursor: pointer;
  }

  #mustache-shop {
    width: clamp(125px, 4vw, 140px);
    aspect-ratio: 1/1;
    height: clamp(150px, 3vw, 150px);
  }

  #mustache-shop:hover {
    cursor: pointer;
  }

  #icecream-shop {
    width: clamp(125px, 4vw, 140px);
    aspect-ratio: 1/1;
    height: clamp(150px, 3vw, 150px);
  }

  #icecream-shop:hover {
    cursor: pointer;
  }

  .shop-button.home {
    background-color: var(--light-color);
    border-radius: 50%;
    padding: 7px;
    top: 2.5%;
    left: 25px;
  }

  .accessory {
    background-color: var(--light-color);
    padding: 20%;
    width: 100%;
    border-radius: 25px;
    filter: drop-shadow(0 0 30px #e9f0f56b);
    transition: transform 0.18s cubic-bezier(.3,2,.3,1);
  }

  .accessory:hover {
    cursor: pointer;
    transform: scale(1.1);  
  }

  .price {
    background-color: var(--second-color);
    color: var(--light-color);
    font-size: var(--font-size-text);
    font-family: var(--font-family);
    font-weight: 300;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 25px 0px;
    z-index: 1;
    filter: drop-shadow(0 0 50px #0000006b);
    text-align: center;
    display: none;
  }

  .price p {
    margin: 0 auto;
  }


/*POPUP*/

  .popup {
    position: absolute;
    background: linear-gradient(to bottom, var(--second-color) 40%, var(--light-color) 40% );
    height: max-content;
    width: 30%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 16px 64px;
    filter: drop-shadow(0 0 10px #00000055);
    z-index: 999;
    visibility: hidden;
    transform: translateY(100%);
    margin: 0 auto;
  }
  
  .visible {
    visibility: visible;
    animation: popup 1s ease-in forwards;
  }

  h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    color: var(--light-color);
  }

  .popup p {
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-top: 5%;
  }

  .popup a {
    text-decoration: none;
    background: var(--second-color);
    color: white;
    padding: 15px 35px;
    margin: 2% 0%;
    border-radius: 20px;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-size: var(--font-size-button);
    filter: drop-shadow(0 0 30px #e9f0f56b);
    border-bottom: 3.5px solid white;
    transition: transform 100ms ease-in;
  }

  .popup a:hover {
    transform: scale(105%);
  }

  .close-button {
    position: absolute;
    right: 1%;
    top: 1.3%;
    width: 5%;
  }

  .close-button:hover {
    cursor: pointer;
  }

 


/*GHOST ANIMATION*/
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    } }
    
    @keyframes waveY {
      0%   { transform: translateX(0); }
  20%  { transform: translateX(0.5px); }
  40%  { transform: translateX(-0.5px); }
  60%  { transform: translateX(0.5px); }
  80%  { transform: translateX(-0.5px);}
  100% { transform: translateX(0); }
}

@keyframes waveOpposite {
      0%   { transform: translateY(-90%)  translateX(1px); }
  20%  { transform: translateY(-90%) translateX(-1px); }
  40%  { transform: translateY(-90%) translateX(1px); }
  60%  { transform: translateY(-90%) translateX(-1px); }
  80%  { transform: translateY(-90%) translateX(1px);}
  100% { transform: translateY(-90%) translateX(1px); }
}

@keyframes blink {
  0%, 90%, 100% {
    transform: scaleY(1);
  }
  92% {
    transform: scaleY(0.1);
  }
  94% {
    transform: scaleY(0.01);
  }
  96% {
    transform: scaleY(0.1);
  }
}

@keyframes shadowMovement {
  0% {
    transform: scaleX(0.9); opacity: 0.7;
  }
  25% {
    transform: scaleX(0.85); opacity: 0.8;
  }
  50% {
    transform: scaleX(0.8); opacity: 0.9;
  }
  75% { 
    transform: scaleX(0.85); opacity: 0.8;
  }
  100% {
    transform: scaleX(0.9); opacity: 0.7;
  }
}

@keyframes popup {
      0%   { transform: translateY(100%); opacity: 0.5; }
  100% { transform: translateY(0%); opacity: 1; }
}
